<h5>コメント一覧</h5>

</br>
<% @comments.each do |comment| %>
<%= link_to admin_user_path(comment.user_id) do %>
<% if comment.user.image.attached? %>
  <%= image_tag comment.user.image, size: "80x80" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "80x80" %>
<% end %>
</br>
<%= comment.user.user_name %>
<% end %>&emsp;
<%= comment.comment %>
</br>
<% if comment.image.attached? %>
  <%= image_tag comment.image, size: "200x200" %>
<% end %>
<%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除したコメントは復元できません）" %>
</br>
</br>
<% end %>