<div class= "row">

  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'admin/homes/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
    <h5 class= "m-2">都道府県名編集</h5>
    <div class= "container">
      <div class= "row">
        <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
          </br>
            <%= form_with model: @japan_prefecture, url: admin_japan_prefecture_path(@japan_prefecture.id), method: :patch do |f| %>
              <%= f.label :"都道府県名" %></br>
              <%= f.label :"日本語表記" %>&emsp;
              <%= f.text_field :name, autofocus: true, id:"inputname", placeholder:""%></br>
              <%= f.label :"英語表記" %>&emsp;&emsp;
              <%= f.text_field :name_english, autofocus: true, id:"inputname", placeholder:""%></br>
              <%= f.label :"日本エリア名" %>
              <%= f.collection_select :japan_area_id, JapanArea.all, :id, :name, include_blank: "--選択してください--", class: "form-control col-sm-8" %></br>
              </br>&emsp;&emsp;&emsp;&emsp;&emsp;
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--（右側全体）ここまで------------>
</div>