<h5>この記事にコメントする<i class="far fa-comment-dots"></i></h5>
<%= form_with model: Comment.new, url: article_comments_path(@article.id), method: :post, local: false do |f| %>
    <%= f.text_field :comment, placeholder: "コメント" %>&emsp;
    <label>画像</label>
    <%= f.file_field :image, accept: "image/*" %></br>
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
<% end %>
</br>
</br>

<h5>コメント一覧</h5>
<% 20.times do  %>
  <i class="fas fa-apple-alt" style="color: #ff3545;"></i>
  <i class="fas fa-apple-alt" style="color: #2ADBB6;"></i>
<% end %>
</br>

<% @article.comments.order(created_at: :desc).each do |comment| %>
  <%= link_to user_path(comment.user_id) do %>
    <% if comment.user.image.attached? %>
      <%= image_tag comment.user.image, size: "30x30" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "30x30" %>
    <% end %>
    <%= comment.user.user_name %>
  <% end %>&emsp;
  <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
  </br>
  <%= comment.comment %>
  </br>
  <% if comment.image.attached? %>
    </br>
    <%= image_tag comment.image, size: "200x200" %>
    </br>
  <% end %>
  </br>
  <% if comment.user == current_user %>
  <%= link_to "編集", edit_article_comment_path(@article.id, comment.id), class: "btn btn-success" %>&emsp;
  <%= link_to "削除", article_comment_path(@article.id, comment.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除したコメントは復元できません）", remote: true %>
  <% end %>
  </br>
  <% 20.times do  %>
    <i class="fas fa-apple-alt" style="color: #ff3545;"></i>
    <i class="fas fa-apple-alt" style="color: #2ADBB6;"></i>
  <% end %>
  </br>
  <% end %>