<div class= "row">

  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'admin/homes/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
    <h5 class= "m-2">日本エリア追加・一覧</h5>
    </br>

    <%= form_with model: @japan_area_new, url: admin_japan_areas_path, method: :post do |f| %>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<label>日本エリア追加</label></br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;日本語表記&emsp;<%= f.text_field :name %>&emsp;英語表記&emsp;<%= f.text_field :name_english %>&emsp;
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
    <% end %>
    </br>

    <div class="row">
      <div class= "col-1">
      </div>
      <div class= "col-10">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>エリア名（日本語表記）</th>
              <th>エリア名（英語表記）</th>
              <th colspan="3"></th>
            </tr>
          </thread>
          <tbody>
            <% @japan_areas.each do |japan_area| %>
            <tr>
              <td><%= japan_area.name %></td>
              <td><%= japan_area.name_english %></td>
              <td>
                <%= link_to "編集する", edit_admin_japan_area_path(japan_area.id), class: "btn btn-success" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--（右側全体）ここまで------------>

</div>