<div class= "row">
<div class= "col-3">
  <table class="table table-hover table-bordered table-inverse">
    <thead>
      <tr>
        <th>都道府県から記事を検索する</th>
      </tr>
    </thread>
    <tbody>
        <% @japan_prefectures.each do |japan_prefecture| %>
        <tr>
        <td><%= link_to japan_prefecture.name, articles_prefecture_index_path(japan_prefecture.id) %>&emsp;（<%= japan_prefecture.articles.count %>件）</td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class= "col-8">
</br>
<h5>すべての記事一覧（全<%= @articles.count %>件）</h5>

<div class= "row">
<% @articles.each do |article| %>
<div class= "col-3">

<%= link_to article_path(article.id) do %>
<% if article.image.attached? %>
  <%= image_tag article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.png', size: "200x200" %>
<% end %>
<% end %>

<%= article.title %>
</br>
<%= article.japan_prefecture.name %>
<%= link_to "×", admin_article_path(article.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した記事は復元できません）" %>

</div>
<% end %>
</div>
</div>
</div>
</div>