</br>
<h5>記事詳細</h5>
<% if @article.image.attached? %>
  <%= image_tag @article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>
</br>
</br>
<label>タイトル</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= @article.title %></br>
<label>本文</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= @article.body %></br>
<label>都道府県</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= @article.japan_prefecture.name %></br>
<label>市区町村</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= @article.region %></br>
<label>場所／物の名前</label>&emsp;&emsp;&emsp;&emsp;<%= @article.name %></br>
<label>現在の公開ステータス</label>&emsp;
<% if @article.is_active %>
  <label class="text-success">公開中</label>
<% else %>
  <label class="text-secondary">非公開</label>
<% end %>
</br>
</br>
<%= form_with model: @article, url: admin_article_path(@article.id), method: :patch do |f| %>
<label>公開ステータスを変更する</label>
</br>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "公開中", {value: :true, checked: true, style: "display: inline-block;"} %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "非公開（下書きに保存）", {value: :false, style: "display: inline-block;"} %></br>

<%= f.submit "変更を保存", class: "btn btn-success" %>
<% end %>
</br>
<%= link_to "記事を削除する", admin_article_path(@article.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した記事は復元できません）" %>