<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    </br>

    <div style="text-align:center;">
      </br>
      </br>
      <!--日本語ここから------------>
      <p class="text-primary">ふるさとアンバサダーは</p>
      <p class="text-primary">地域と日本の魅力を発信するSNSです。</p>
      </br>
      <!--画像ここから------------>
      <%= image_tag asset_path('apples_top4.jpg'), size: "500x300" %>
      <!--画像ここまで------------>
      </br>
      </br>
      </br>
      <p class="text-primary">普段近所で目にしている当たり前のことが、</p>
      <p class="text-primary">旅先で撮った1枚の写真が地域を元気にするきっかけになるかもしれない。</p>
      </br>
      <p class="text-primary">旅のリサーチから計画・準備、旅のしおり（スケジュール管理と記録）</p>
      <p class="text-primary">写真の共有まで1つのメディアで完結できたらいいな...</p>
      </br>
      <p class="text-primary">そんな想いからこのSNSを作りました。</p>
      <p class="text-primary">もしよかったら、ぜひ使ってみてください。</p>
      </br>
      <div class="btn-wrapper col-5 mx-auto">
        <div class="row">
          <%= link_to 'ゲストとして使ってみる（閲覧用）', sessions_guest_sign_in_path, class: "btn btn-danger btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'ログイン（登録済みの方）',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
      <!--日本語ここまで------------>
      </br>
      </br>
      <!--画像ここから------------>
      <%= image_tag asset_path('itinerary.jpg'), size: "400x300" %>&emsp;
      <%= image_tag asset_path('items_to_take.jpg'), size: "400x300" %>
      <!--画像ここまで------------>
      </br>
      </br>
      </br>
      <!--英語ここから------------>
      <p class="text-primary">"Furusato" means "home(hometown)" of everyone's heart.</p>
      <p class="text-primary">Furusato Ambassador was made for finding your next destination in Japan.</p>
      </br>
      <p class="text-primary">You can refer other users' travel itineraries from "Refer travels",</p>
      <p class="text-primary">after you find the destination, create the itinerary and make item list for your travel from "Plan a trip".</p>
      <p class="text-primary">If you are living in Japan, enjoy sharing your favorites with everyone and recording your travels with the itineraries!</p>
      </br>

      <div class="btn-wrapper col-5 mx-auto">
        <div class="row">
          <%= link_to 'Guest Login（for browsing）', sessions_guest_sign_in_path, class: "btn btn-danger btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
      <!--英語ここまで------------>
    </div>
  </div>
  <!--（右側全体）ここまで------------>

</div>