<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'apples_top4.jpg', class: "d-block w-100", alt: "りんご写真" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>ふるさとアンバサダー</h1>
        </br>
        <h4>あなたも、今日から観光大使。</h4>
        </br>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'mountain1.jpeg', class: "d-block w-100", alt: "稲佐の浜写真" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>特別じゃなくていい。</h1>
        </br>
        <h4>すぐ近くにある、地域の魅力を発信しよう</h4>
        </br>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'paddy_field1.jpg', class: "d-block w-100", alt: "南会津写真" %>
      <div class="carousel-caption d-none d-md-block">
        <h1>それは、誰かの特別になるかもしれない</h1>
        </br>
        <h4>みんなのちからで街を、日本を、興そう。</h4>
        </br>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class= "row">
<div class= "col-2">
  <table class="table table-hover table-bordered table-inverse">
    <thead>
      <tr>
        <th>都道府県から</br>記事を検索する</br>Search by prefecture</th>
      </tr>
    </thread>
    <tbody>
        <% @japan_prefectures.each do |japan_prefecture| %>
        <tr>
        <td><%= link_to japan_prefecture.name+'　'+ japan_prefecture.name_english, articles_prefecture_index_path(japan_prefecture.id) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>


<div class= "col-8">
</br>

<h5>人気投稿（💗いいねが多い順）</h5>

<div class= "row">
<% @all_ranks.each do |article| %>
<div class= "col-3">

<%= link_to user_path(article.user.id) do %>
  <% if article.user.image.attached? %>
    <%= image_tag article.user.image, size: "20x20" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "20x20" %>
  <% end %>
  <%= article.user.user_name %>
<% end %>
</br>

<%= link_to article_path(article.id) do %>
<% if article.image.attached? %>
  <%= image_tag article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>

</br>
<%= article.title %>
<% end %>
</br>
<%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %></br>

#ユーザーがログイン済みの時のいいね／行った！の表示
<% if user_signed_in? %>
  <% if article.liked_by?(current_user) %>
    <label>
      <%= link_to article_likes_path(article), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% else %>
    <label>
      <%= link_to article_likes_path(article), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% end %>

  <% if article.foot_printed_by?(current_user) %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :delete do %>
        <i class="fas fa-paw"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% else %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :post do %>
        <i class="fas fa-paw"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% end %>
</div>
#ログインしていない時のいいね／行った！の表示
<% else %>
  <label>
    <i class="fas fa-heart"></i>
    <%= article.likes.count %>いいね
  </label>

  <label>
      <i class="fas fa-paw"></i>
    <%= article.foot_prints.count %>行った！
  </label>
<% end %>
</div>
<% end %>
</div>
</div>

<div class= "col-8">
</br>

<h5>みんなの投稿（全<%= @articles.count %>件）</h5>

<div class= "row">
<% @articles.last(30).each do |article| %>
<div class= "col-3">

<%= link_to user_path(article.user.id) do %>
  <% if article.user.image.attached? %>
    <%= image_tag article.user.image, size: "20x20" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "20x20" %>
  <% end %>
  <%= article.user.user_name %>
<% end %>
</br>

<%= link_to article_path(article.id) do %>
<% if article.image.attached? %>
  <%= image_tag article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>

<%= article.title %>
<% end %>
</br>
<%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
</br>

#ユーザーがログイン済みの時のいいね／行った！の表示
<% if user_signed_in? %>
  <% if article.liked_by?(current_user) %>
    <label>
      <%= link_to article_likes_path(article), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% else %>
    <label>
      <%= link_to article_likes_path(article), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% end %>

  <% if article.foot_printed_by?(current_user) %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :delete do %>
        <i class="fas fa-paw"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% else %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :post do %>
        <i class="fas fa-paw"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% end %>
</div>
#ログインしていない時のいいね／行った！の表示
<% else %>
  <label>
    <i class="fas fa-heart"></i>
    <%= article.likes.count %>いいね
  </label>

  <label>
      <i class="fas fa-paw"></i>
    <%= article.foot_prints.count %>行った！
  </label>
</div>
<% end %>
</div>
</div>
</div>
<% end %>
</div>
</div>