<div class= "row">

  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'admin/homes/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
    <h5 class= "m-2">旅タスク一覧</h5>
    </br>

    <!--旅のタスクここから------------>
    <div class="row">
      <div class= "col-12">

        <% 20.times do %>
          <i class="fas fa-suitcase" style="color: #A83E18;"></i>
          <i class="fas fa-suitcase" style="color: #75564B;"></i>
        <% end %></br>

        <% @tasks.order(created_at: "DESC").each do |task| %>

          作成者&emsp;&emsp;：
          <%= link_to admin_user_path(task.user.id) do %>
            <% if task.user.image.attached? %>
              <%= image_tag task.user.image, size: "30x30" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "30x30" %>
            <% end %>
            <%= task.user.user_name %>
          <% end %>
          &emsp;
          作成日：<%= task.created_at.strftime("%Y-%m-%d") %>
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <%= link_to "×削除", admin_task_destroy_path(task.itinerary_id, task.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した予定は復元できません）" %>
          </br>

          旅のしおり：
          <%= link_to admin_itinerary_path(task.itinerary_id) do %>
            <%= task.itinerary.title %>
            （
            <% if task.itinerary.is_active %>
              <label class="text-success">公開中</label>
            <% else %>
              <label class="text-secondary">非公開</label>
            <% end %>
            ）
          <% end %>

          <h5>
            <i class="far fa-clock"></i>&emsp;<%= task.started_at.strftime("%Y-%m-%d %H:%M") %>&emsp;～&emsp;<%= task.finished_at.strftime("%Y-%m-%d %H:%M") %>
          </h5>

          <h4>
            <%= task.task %>&emsp;

            <% if task.way.present? %>
              <% flag = true %>
              <%= task.way %>&emsp;
            <% end %>

            <% if task.rate == 0 %>
              <label></label>
              <!--評価1の場合-->
              <% elsif task.rate == 1 %>
                <!--黄色い星アイコン1つ-->
                <i class="fas fa-star" style="color: #cc9933;"></i>
                <!--グレーの星アイコン4つ-->
                <% 4.times do %>
                  <i class="far fa-star" style="color: #d3d3d3;"></i>
                <% end %>
              <!--評価2の場合-->
              <% elsif task.rate == 2 %>
                <!--黄色い星アイコン2つ-->
                <% 2.times do %>
                  <i class="fas fa-star" style="color: #cc9933;"></i>
                <% end %>
                <!--グレーの星アイコン3つ-->
                <% 3.times do %>
                <i class="far fa-star" style="color: #d3d3d3;"></i>
                <% end %>
              <!--評価3の場合-->
              <% elsif task.rate == 3 %>
                <!--黄色い星アイコン3つ-->
                <% 3.times do %>
                  <i class="fas fa-star" style="color: #cc9933;"></i>
                <% end %>
                <!--グレーの星アイコン2つ-->
                <% 2.times do %>
                  <i class="far fa-star" style="color: #d3d3d3;"></i>
                <% end %>
              <!--評価4の場合-->
              <% elsif task.rate == 4 %>
                <!--黄色い星アイコン4つ-->
                <% 4.times do %>
                <i class="fas fa-star" style="color: #cc9933;"></i>
                <% end %>
                <!--グレーの星アイコン1つ-->
                <i class="far fa-star" style="color: #d3d3d3;"></i>
              <!--評価5の場合-->
              <% elsif task.rate == 5 %>
                <!--黄色い星アイコン5つ-->
                <% 5.times do %>
                  <i class="fas fa-star" style="color: #cc9933;"></i>
                <% end %>
            <% end %>
          </h4>

          <% if task.spot.present? %>
            <% flag = true %>
            <%= task.spot %><br>
          <% end %>

          <% if task.address.present? %>
            <% flag = true %>
            <%= task.address %><br>
          <% end %>

          <% if task.longitude && task.latitude.present? %>
            <% flag = true %>
            <%= link_to admin_itinerary_task_path(task.itinerary_id, task.id) , "data-turbolinks": false do %>
              地図／MAP
            <% end %>
            <br>
          <% end %>
          </br>

          予算（Budget）：￥<%= task.price %></br>

          <% if task.memo.present? %>
            <% flag = true %>
            メモ（Memo） ：<%= task.memo %><br>
          <% end %>

          <% if task.image.attached? %>
            </br>
            <%= image_tag task.image, size: "200x200" %>
            </br>
          <% end %>

          <% 20.times do %>
            <i class="fas fa-suitcase" style="color: #A83E18;"></i>
            <i class="fas fa-suitcase" style="color: #75564B;"></i>
          <% end %>
          </br>
        <% end %>
      </div>
    </div>
    <!--旅のタスクここから------------>

  </div>
  <!--（右側全体）ここから------------>

</div>