<div class= "row">

  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'admin/homes/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「管理メニュー＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
    </br>

    <!--内容ここから------------>
    <h4 class= "mt-2">
      <% if @itinerary.image.attached? %>
        <%= image_tag @itinerary.image, size: "40x40" %>
      <% else %>
        <%= image_tag 'default-image.jpg', size: "40x40" %>
      <% end %>

      <%= @itinerary.title %>
      <% if @itinerary.tasks.present? %>
        （<%=  @itinerary.tasks.order(started_at: :asc).first.started_at.to_date.strftime("%Y/%m/%d") %>～<%= @itinerary.tasks.order(finished_at: :desc).first.finished_at.to_date.strftime("%Y/%m/%d") %>）
      <% else %>
        （&emsp;～&emsp;）
      <% end %>

      <% if @itinerary.rate == 0 %>
      <label></label>

      <!--評価1の場合-->
      <% elsif @itinerary.rate == 1 %>
        <!--黄色い星アイコン1つ-->
        <i class="fas fa-star" style="color: #FFE14E;"></i>
        <!--グレーの星アイコン4つ-->
        <% 4.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価2の場合-->
      <% elsif @itinerary.rate == 2 %>
        <!--黄色い星アイコン2つ-->
        <% 2.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン3つ-->
        <% 3.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価3の場合-->
      <% elsif @itinerary.rate == 3 %>
        <!--黄色い星アイコン3つ-->
        <% 3.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン2つ-->
        <% 2.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価4の場合-->
      <% elsif @itinerary.rate == 4 %>
        <!--黄色い星アイコン4つ-->
        <% 4.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン1つ-->
        <i class="far fa-star" style="color: #d3d3d3;"></i>

      <!--評価5の場合-->
      <% elsif @itinerary.rate == 5 %>
        <!--黄色い星アイコン5つ-->
        <% 5.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
      <% end %>

      <% if @itinerary.is_active %>
        <label class="text-success">公開中</label>
      <% else %>
        <label class="text-secondary">非公開</label>
      <% end %>
      &emsp;
      <%= link_to "×削除", admin_itinerary_path(@itinerary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した旅程表は復元できません）" %>
    </h4>

    <h6>
      作成者：
    <%= link_to admin_user_path(@itinerary.user.id) do %>
    <% if @itinerary.user.image.attached? %>
      <%= image_tag @itinerary.user.image, size: "30x30" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "30x30" %>
    <% end %>
    <%= @itinerary.user.user_name %>
    <% end %>
    &emsp;
    作成日：<%= @itinerary.created_at.strftime("%Y-%m-%d") %>&emsp;&emsp;
    旅の総額／Total budget：￥<%= @total %>&emsp;&emsp;
    </br>

    <%= form_with model: @itinerary, url: admin_itinerary_path(@itinerary.id), method: :patch do |f| %>
    <label>公開ステータスの変更：</label>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "公開", {value: :true, checked: true, style: "display: inline-block;"} %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "非公開（下書きに戻す）", {value: :false, style: "display: inline-block;"} %>
    <%= f.submit "公開ステータスを保存", class: "btn btn-info" %>
    <% end %>
    </br>
    &emsp;
    </br>
    </br>
    <%= @itinerary.comment %></br>
    </br>
    </h6>
    </br>

    <!--タスク一覧ここから------------>
    <div class="admin_itinerary_task_<%= @itinerary.id %>">
      <%= render "admin/tasks/task", itinerary: @itinerary %>
    </div>
    <!--タスク一覧ここまで------------>

  </div>
</div>