<%# 記事を書いたユーザーの画像 %>
<%= link_to user_path(article.user.id) do %>
  <% if article.user.image.attached? %>
    <%= image_tag article.user.image, size: "20x20" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "20x20" %>
  <% end %>
  <%# 記事を書いたユーザーの名前 %>
  <%= article.user.user_name %>
<% end %>
</br>

<%# 記事画像 %>
<%= link_to article_path(article.id) do %>
  <% if article.image.attached? %>
    <%= image_tag article.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x200" %>
  <% end %>
  </br>
  <%# 記事タイトル（みんなの投稿）%>
  <%= article.title %>
<% end %>
</br>

<%# 記事都道府県名（日本語 英語） %>
<%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
</br>

<%# いいね／行った！の表示 ---------- %>

<%# ログイン済みの場合はいいね／行った！機能が使える %>
<% if user_signed_in? %>

  <% if article.liked_by?(current_user) %>
    <%# 既にいいねされている場合にはクリックされたらいいねを取り消す処理 %>
    <label>
      <%= link_to article_likes_path(article), method: :delete do %>
        <i class="fas fa-heart" style="color: #ff4500;"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% else %>
    <%# まだいいねされていない時にクリックされたらいいねを付ける処理 %>
    <label>
      <%= link_to article_likes_path(article), method: :post do %>
        <i class="fas fa-heart" style="color: #d3d3d3;"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% end %>

  <% if article.foot_printed_by?(current_user) %>
    <%# 既に行った！されている場合にはクリックされたら行った！を取り消す処理 %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :delete do %>
        <i class="fas fa-paw" style="color: #f39800;"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% else %>
    <%# まだ行った！されていない時にクリックされたら行った！を付ける処理 %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :post do %>
        <i class="fas fa-paw" style="color: #d3d3d3;"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% end %>

<% else %>
  <%# ログイン未の場合はいいね／行った！機能は使えない→アイコンと数だけ表示 %>
  <label>
    <i class="fas fa-heart" style="color: #d3d3d3;"></i>
    <%= article.likes.count %>いいね
  </label>

  <label>
    <i class="fas fa-paw" style="color: #d3d3d3;"></i>
    <%= article.foot_prints.count %>行った！
  </label>
<% end %>