<%# 記事を書いたユーザーの画像 %>
<%= link_to user_path(article.user.id) do %>
  <% if article.user.image.attached? %>
    <%= image_tag article.user.image, size: "20x20" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "20x20" %>
  <% end %>
  <%# 記事を書いたユーザーの名前 %>
  <%= article.user.user_name %>
<% end %>
</br>

<%# 記事画像 %>
<%= link_to article_path(article.id), "data-turbolinks": false do %>
  <% if article.image.attached? %>
    <%= image_tag article.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x200" %>
  <% end %>
  </br>
  <%# 記事タイトル（みんなの投稿）%>
  <%= article.title %>
<% end %>
</br>

<%# 記事都道府県名（日本語 英語） %>
<%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
</br>

<%# いいね／行った！の表示 ここから ---------- %>
<%# @articles.each do |article| %>
<%#= render 'public/likes/like', article: article %>
<div id="article_<%= article.id %>"><%= render "public/likes/like", article: article %></div>
<%# end %>
<%# いいね／行った！の表示 ここまで ---------- %>