<%#「記事を書く」と「都道府県から記事を探す」の部分テンプレート %>

<div class= "col-2">
</br>

  <div style="text-align:center;">
  <% if user_signed_in? %>
    <%= link_to new_article_path, class: 'nav-link text-dark' do %>
      <h5>
        投稿する<i class="fas fa-edit"></i>
      </h5>
    <% end %>


    <% else %>
    <div class="btn-wrapper col-10 mx-auto">
    <div class="row">
        <%= link_to '　ゲストログイン　（閲覧用）', sessions_guest_sign_in_path, class: "btn btn-danger btn-sm btn-block mb-3 sign_in", method: :post %>
     </div>
     <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  <% end %>

  </div>

  <table class="table table-hover table-bordered table-inverse">
    <thead>
      <tr>
        <th>エリアから</br>記事を検索する</br>Search by area</th>
      </tr>
    </thread>
    <tbody>
      <% @japan_areas.each do |japan_area| %>
        <tr>
          <td><%= link_to japan_area.name+'　'+ japan_area.name_english, articles_area_index_path(japan_area.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover table-bordered table-inverse">
    <thead>
      <tr>
        <th>都道府県から</br>記事を検索する</br>Search by prefecture</th>
      </tr>
    </thread>
    <tbody>
      <% @japan_prefectures.each do |japan_prefecture| %>
        <tr>
          <td><%= link_to japan_prefecture.name+'　'+ japan_prefecture.name_english, articles_prefecture_index_path(japan_prefecture.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>