<h5>新規記事登録</h5>

<div style="text-align:center;">
<% @article.errors.full_messages.each do | msg | %>
<%= msg %>
<% end %>

<%= form_with model: @article, url: articles_path, method: :post do |f| %>
    <label>画像</label>
    <%= f.file_field :image, accept: "image/*" %></br>
    </br>
    <label>タイトル</label><%= f.text_field :title, placeholder: "タイトル" %></br>
    <label>本文</label><%= f.text_area :body, placeholder: "ここに本文を記述します" %></br>
    </br>
    <label>都道府県</label>
    <%= f.collection_select :japan_prefecture_id, JapanPrefecture.all, :id, :name, include_blank: "--選択してください--", class: "form-control col-sm-8" %></br>
    <label>市区町村（任意）</label><%= f.text_field :region, placeholder: "市区町村" %></br>
    <label>場所／物の名前</label><%= f.text_field :name %></br>
    </br>
    <label>記事を公開しますか？</label>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "公開", {value: :true, checked: true, style: "display: inline-block;"} %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "非公開（下書きに保存）", {value: :false, style: "display: inline-block;"} %></br>
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
  <% end %>
  </div>