<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
  </br>
  <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
  <h5 class= "mt-2"><%= @japan_prefecture.name %>の記事（全<%= @japan_prefecture.articles.where(is_active: true).count %>件）／Articles of <%= @japan_prefecture.name_english %> Prefecture</h5>

    <div class= "row">
    <% @articles.each do |article| %>
      <div class= "col-3">
      <%= render 'public/articles/article_part', article: article %>
      </div>
    <% end %>
    </div>

  </div>
  <!--（右側全体）ここまで------------>

</div>