<div class= "row">
<%= render 'public/articles/list', japan_prefectures: @japan_prefectures %>

<div class= "col-9">
</br>
<h5><%= @tag.name %>の記事（全<%= @tag.articles.count %>件）</h5>

<div class= "row">
<% @articles.each do |article| %>
<div class= "col-3">

<%= link_to user_path(article.user.id) do %>
  <% if article.user.image.attached? %>
    <%= image_tag article.user.image, size: "20x20" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "20x20" %>
  <% end %>
  <%= article.user.user_name %>
<% end %>

<%= link_to article_path(article.id) do %>
<% if article.image.attached? %>
  <%= image_tag article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>
<% end %>

<%= article.title %>
</br>
<%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
</br>

<% if article.liked_by?(current_user) %>
    <label>
      <%= link_to article_likes_path(article), method: :delete do %>
        <i class="fas fa-heart" style="color: #ff4500;"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% else %>
    <label>
      <%= link_to article_likes_path(article), method: :post do %>
        <i class="far fa-heart" style="color: #dcdcdc;"></i>
      <% end %>
      <%= article.likes.count %>いいね
    </label>
  <% end %>
  <% if article.foot_printed_by?(current_user) %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :delete do %>
        <i class="fas fa-paw" style="color: #f39800;"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
    <% else %>
    <label>
      <%= link_to article_foot_prints_path(article), method: :post do %>
        <i class="fas fa-paw" style="color: #dcdcdc;"></i>
      <% end %>
      <%= article.foot_prints.count %>行った！
    </label>
  <% end %>

</div>
<% end %>
</div>
</div>
</div>
</div>