<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    <h5 class= "m-2">旅程表の編集／Edit the itinerary</h5>
    </br>

    <% if @itinerary.errors.any? %>
      <%= @itinerary.errors.count %>件のエラーが発生しました。
      <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

    <!--（入力部分全体）ここから------------>
    <div class= "row">
      <div class= "col-1">
      </div>
      <div class= "col-10">
        <%= form_with model: @itinerary, url: itinerary_path, method: :patch do |f| %>

          <!--基本項目＆追加項目の大枠 ここから------------>
          <div class= "row">

            <!--基本項目（左側）ここから------------>
            <div class= "col-6">

              <h5>基本項目（Basic Infomation）</h5>
              </br>

              <label>タイトル（必須）／title（required）</label></br>
              <%= f.text_field :title, placeholder: "タイトル" %></br>
              </br>

              <label>ひとこと／comment</label></br>
                <%= f.text_area :comment, placeholder: "メモや旅行後の日記としてご利用ください。" %></br>
              </br>

              <label>画像／image</label></br>
                <%= f.file_field :image, accept: "image/*" %></br>
              </br>

            </div>
            <!--基本項目（左側）ここまで------------>

            <!--追加項目（右側）ここから------------>
            <div class= "col-6">

              <h5>旅行後の追加項目（Additional Information）</h5>
              </br>
              <label>評価（必須 0/1/2/3/4/5 ※0だと非表示になります）</label></br>
              <label>rate（required 0/1/2/3/4/5 ※0 doesn't show your rate）</label></br>
              <%= f.text_field :rate %></br>
              </br>

              <label>旅程表を公開しますか？／public or private</label></br>
              <label>（※公開するとすべてのユーザーからの閲覧が可能となります。犯罪被害防止のため、旅程表を公開する場合は必ず旅行終了後に公開してください。）</label></br>
              <label>（※To protect you from crimes, show your itinerary to public after the trip. ）</label>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, "公開／Public", {value: :true, checked: true, style: "display: inline-block;"} %>
              &emsp;
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, "非公開／Private", {value: :false, style: "display: inline-block;"} %></br>

              <%= f.hidden_field :total_payment, :value => 0 %>

            </div>
            <!--追加項目（右側）ここまで------------>

          </div>
          <!--基本項目＆追加項目の大枠 ここまで------------>

            <!--投稿するボタン ここから------------>
            <!--<div class= "row">-->
            <!--  <div class= "col-10">-->
                </br>
                <div style="text-align:center;">
                  <%= f.submit "変更／Update", class: "btn btn-success" %>
                </div>
            <!--  </div>-->
            <!--</div>-->
            <!--投稿するボタン ここまで------------>
        <% end %>
      </div>
    </div>
    <!--入力部分ここまで------------>

  </div>
  <!--（右側全体）ここまで------------>
</div>