<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    </br>

    <!--内容ここから------------>
    <h4 class= "mt-2">
      <% if @itinerary.image.attached? %>
        <%= image_tag @itinerary.image, size: "40x40" %>
      <% else %>
        <%= image_tag 'default-image.jpg', size: "40x40" %>
      <% end %>

      <%= @itinerary.title %>
      <% if @itinerary.tasks.present? %>
        （<%=  @itinerary.tasks.order(started_at: :asc).first.started_at.to_date.strftime("%Y/%m/%d") %>～<%= @itinerary.tasks.order(finished_at: :desc).first.finished_at.to_date.strftime("%Y/%m/%d") %>）
      <% else %>
        （&emsp;～&emsp;）
      <% end %>

      <% if @itinerary.rate == 0 %>
      <label></label>

      <!--評価1の場合-->
      <% elsif @itinerary.rate == 1 %>
        <!--黄色い星アイコン1つ-->
        <i class="fas fa-star" style="color: #FFE14E;"></i>
        <!--グレーの星アイコン4つ-->
        <% 4.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価2の場合-->
      <% elsif @itinerary.rate == 2 %>
        <!--黄色い星アイコン2つ-->
        <% 2.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン3つ-->
        <% 3.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価3の場合-->
      <% elsif @itinerary.rate == 3 %>
        <!--黄色い星アイコン3つ-->
        <% 3.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン2つ-->
        <% 2.times do %>
          <i class="far fa-star" style="color: #d3d3d3;"></i>
        <% end %>

      <!--評価4の場合-->
      <% elsif @itinerary.rate == 4 %>
        <!--黄色い星アイコン4つ-->
        <% 4.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
        <!--グレーの星アイコン1つ-->
        <i class="far fa-star" style="color: #d3d3d3;"></i>

      <!--評価5の場合-->
      <% elsif @itinerary.rate == 5 %>
        <!--黄色い星アイコン5つ-->
        <% 5.times do %>
          <i class="fas fa-star" style="color: #FFE14E;"></i>
        <% end %>
      <% end %>
      &emsp;
      <% if @itinerary.user == current_user %>
        <%= link_to "編集 Edit", edit_itinerary_path(@itinerary.id), class: "btn btn-success", "data-turbolinks": false %>&emsp;
        <%= link_to "×削除 Delete", itinerary_path(@itinerary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した旅程表は復元できません）" %>
      <% end %>
    </h4>

    <h6>
    <%= link_to user_path(@itinerary.user.id) do %>
      <% if @itinerary.user.image.attached? %>
        <%= image_tag @itinerary.user.image, size: "30x30" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "30x30" %>
      <% end %>
      <%= @itinerary.user.user_name %>
    <% end %>
    &emsp;
    作成日：<%= @itinerary.created_at.strftime("%Y-%m-%d") %>&emsp;&emsp;
    旅の総額／Total budget：￥<%= @total %>&emsp;&emsp;

    <% if @itinerary.user == current_user %>
      <% if @itinerary.is_active %>
        公開ステータス：
        <label class="text-success">公開中（Public）</label>
      <% else %>
        公開ステータス：
        <label class="text-secondary">非公開（Private）</label>
      <% end %>
    <% end %>
    &emsp;
    </br>
    </br>
    <%= @itinerary.comment %></br>
    </br>
    </h6>
    </br>

    <!--タスク一覧ここから------------>
    <div class="itinerary_task_<%= @itinerary.id %>">
      <%= render "public/tasks/tasks", itinerary: @itinerary %>
    </div>
    <!--タスク一覧ここまで------------>

  </div>
</div>