<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    <h5 class= "mt-2">旅の持ち物リスト／Items to take for trip</h5>
    </br>

    <div class="row">
      <div class= "col-1">
      </div>
      <div class= "col-11">

        <% if @belonging.errors.any? %>
          <%= @belonging.errors.count %>件のエラーが発生しました。
          <ul>
          <% @belonging.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>

        <%= form_with model: @belonging, url: belongings_path, method: :post do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "追加／Add", class: "btn btn-success" %></br>
        <% end %>

        <%= link_to destroy_all_checks_path, method: :delete do %>
          <i class="fas fa-trash" style="color: black;"></i>
          <h7 style="color: black;">すべてのチェックをリセット／Reset checks</h7>
        <% end %>
      </div>
    </div>
    </br>

    <div class="row">
      <div class= "col-1">
      </div>
      <div class= "col-10">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <!--<th>チェック<th>-->
              <th>持っていくもの／Items</th>
              <th>Edit&emsp;&emsp;&emsp;Delete</th>
              <th colspan="2"></th>
            </tr>
          </thread>
          <tbody>
            <% @belongings.each do |belonging| %>
            <tr>
              <td>
                <div id="belonging_<%= belonging.id %>"><%= render "public/checks/check", belonging: belonging %></div>
              </td>
              <td>
                <%= link_to "編集", edit_belonging_path(belonging.id), class: "btn btn-info" %>&emsp;
                <%= link_to "削除", belonging_path(belonging.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除後は復元できません）／Are you sure to delete?" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--（右側全体）ここまで------------>

</div>