</br>
<h3>新規ユーザー登録 Sign up</h3>
</br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "メールアドレス E-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </br>
  <div class="field">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
    <label>（<%= @minimum_password_length %>文字以上）password（minimum <%= @minimum_password_length %>characters）</label>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "パスワード（確認用）Password（confirm）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </br>

  <div class="field">
    <%= f.label "ユーザーネーム Username" %></br>
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
  </div></br>

  <div class="field">
    <%= f.label "居住地 例：北海道札幌市 Home ex)Tokyo, Japan" %></br>
    <%= f.text_field :home, autofocus: true, autocomplete: "home" %>
  </div></br>

  <div class="field">
    <%= f.label "出身地 例：栃木県日光市 Hometown ex)Taipei, Taiwan" %></br>
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
  </div></br>

  <div class="actions">
    <%= f.submit "登録 Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>