<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    <h5 class= "m-2">
      <%= link_to user_path(@user.id) do %>
        <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "20x20" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "20x20" %>
        <% end %>
        <%= @user.user_name %>
      <% end %>
      さん が フォローしている人／Users Mx.<%= @user.user_name %> follows
    </h5>
    </br>

    <!--ユーザー一覧 ここから----------------------------------------------------->
    <div class="row">
      <div class= "col-1">
      </div>
      <div class= "col-10">
        <div style="text-align:center;">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th>
                  <p>ユーザーネーム</p>
                  <span>User name</span>
                </th>
                <th>
                  <p>居住地</p>
                  <span>City lives</span>
                </th>
                <th>
                  <p>出身地</p>
                  <span>Hometown</span>
                </th>
                <th></th>
                <th colspan="4"></th>
              </tr>
            </thread>
            <tbody>
              <% @users.each do |user| %>
              <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                <% if user.image.attached? %>
                  <%= image_tag user.image, size: "80x80" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "80x80" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                <%= user.user_name %>
                <% end %>
              </td>
              <td>
                <%= user.home %>
              </td>
              <td>
                <%= user.hometown %>
              </td>
              <td>
                <% if user == current_user %>
                <p></p>
                <% else %>
                  <% if user.is_followed_by?(current_user) %>
                    <%= link_to "フォロー解除／Unfollow", user_relationships_path(user), method: :delete, class: "btn btn-danger" %>
                  <% else %>
                    <%= link_to "フォロー／follow", user_relationships_path(user), method: :post, class: "btn btn-info" %>
                  <% end %>
                <% end %>
              </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
          <%= paginate @users %>
        </div>
      </div>
    </div>
    <!--ユーザー一覧 ここまで----------------------------------------------------->
  </div>
  <!--（右側全体）ここまで------------>
</div>