<div class= "row">

<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
<%= render 'public/articles/list', japan_prefectures: @japan_prefectures %>
<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

<!--（右側全体）ここから------------>
<div class= "col-10">
  </br>
  <h5 class= "m-2">マイページ</h5>

  <%# ユーザーの登録情報 ここから---------------------------------------------------%>
  <div class="row">
    <div class= "col-md-2">
    </div>
    <div class= "col-md-8">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "100x100" %>
      <% end %>
      <label>登録情報</label>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <% if @user.user_name != "ゲスト" %>
        <%= link_to "編集", edit_user_path(current_user), class: "btn btn-success" %>
      <% end %>
      <table class="table table-hover table-bordered table-inverse">
        <tbody>
          <tr>
            <th class="table-secondary">ユーザー名</th>
            <td>
              <%= @user.user_name %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">メールアドレス</th>
            <td>
              <%= @user.email %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">居住地</th>
            <td>
              <%= @user.home %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">出身地</th>
            <td>
              <%= @user.hometown %>
            </td>
          </tr>
        </tbody>
      </table>
      </br>
    </div>
  </div>
  <%# ユーザーの登録情報 ここまで---------------------------------------------------%>

  <%# ユーザーの記事 ここから---------------------------------------------------%>
  <div class="row">
    <div class="col-1">
    </div>
    <div class= "col-md-10 mb-1">
      <label>
        <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "20x20" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "20x20" %>
        <% end %>
        <%= link_to user_articles_path(@user.id) do %>
          <%= @user.user_name %>さんの記事（全<%= @user_articles.count %>件）をすべて見る
        <% end %>
      </label>
    </div>
  </div>

  <div class= "row">
    <div class="col-1">
    </div>
    <div class= "col-10">
      <div class="row">
        <% @user_articles.last(4).each do |article| %>
          <div class="col-3 mb-3">
            <%= link_to article_path(article.id) do %>
              <% if article.image.attached? %>
                <%= image_tag article.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no_image.png', size: "200x200" %>
              <% end %>
              <%= article.title %>
            <% end %>
            </br>
            <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
            </br>
            <% if article.is_active %>
              <label class="text-success">公開中</label>
            <% else %>
              <label class="text-secondary">非公開</label>
            <% end %>
            <%= link_to "編集", edit_article_path(article.id), class: "btn btn-success" %>
            <%= link_to "削除", article_path(article.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した記事は復元できません）" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# ユーザーの記事 ここまで---------------------------------------------------%>
  </br>

  <%# いいねした記事 ここから---------------------------------------------------%>
  <div class="row">
    <div class="col-1">
    </div>
    <div class= "col-md-10 mb-1">
      <label>
        <i class="fas fa-heart" style="color: #ff4500;"></i>
        <%= link_to likes_user_path(@user.id) do %>
          いいねした記事（全<%= @like_articles.count %>件）をすべて見る
        <% end %>
      </label>
    </div>
  </div>

  <div class= "row">
    <div class="col-1">
    </div>
    <div class= "col-10">
      <div class="row">
      <% @like_articles.last(4).each do |article| %>
        <div class= "col-3 md-3">

        <%# 記事画像（いいねした記事）%>
        <%= link_to article_path(article.id) do %>
          <% if article.image.attached? %>
            <%= image_tag article.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image.png', size: "200x200" %>
          <% end %>
          <%# 記事タイトル（いいねした記事）%>
          <%= article.title %>
        <% end %>
        </br>

        <%# 記事都道府県名（日本語 英語）（いいねした記事）%>
        <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
        </br>

        <%# 記事を書いたユーザーの画像（いいねした記事）%>
        <%= link_to user_path(article.user.id) do %>
          <% if article.user.image.attached? %>
            <%= image_tag article.user.image, size: "20x20" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "20x20" %>
          <% end %>
          <%# 記事を書いたユーザーの名前（いいねした記事）%>
          <%= article.user.user_name %>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <%# いいねした記事 ここまで---------------------------------------------------%>
  </br>

<%# 行った！した記事 ここから---------------------------------------------------%>
<div class="row">
  <div class="col-1">
  </div>
  <div class= "col-md-10 mb-1">
  <label>
    <i class="fas fa-paw" style="color: #f39800;"></i>
    <%= link_to foot_prints_user_path(@user.id) do %>
    行った！した記事（全<%= @foot_print_articles.count %>件）をすべて見る
    <% end %>
  </label>
  </div>
</div>

<div class= "col-8">
</br>
  <div class= "row">
  <% @foot_print_articles.last(4).each do |article| %>
    <div class= "col-3">

    <%# 記事画像（行った！した記事）%>
    <%= link_to article_path(article.id) do %>
      <% if article.image.attached? %>
        <%= image_tag article.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image.png', size: "200x200" %>
      <% end %>
      <%# 記事タイトル（行った！した記事）%>
      <%= article.title %>
    <% end %>
    </br>

    <%# 記事都道府県名（日本語 英語）（行った！した記事）%>
    <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
    </br>

    <%# 記事を書いたユーザーの画像（行った！した記事）%>
    <%= link_to user_path(article.user.id) do %>
      <% if article.user.image.attached? %>
        <%= image_tag article.user.image, size: "20x20" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "20x20" %>
      <% end %>
      <%# 記事を書いたユーザーの名前（行った！した記事）%>
      <%= article.user.user_name %>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
<%# 行った！した記事 ここまで---------------------------------------------------%>

</br>

<%# クリップした記事 ここから---------------------------------------------------%>
<label>&emsp;📎
  <%= link_to clips_user_path(@user.id) do %>
    クリップした記事（全<%= @clip_articles.count %>件）をすべて見る
  <% end %>
</label>

<div class= "col-8">
</br>
　<div class= "row">
  <% @clip_articles.last(4).each do |article| %>
    <div class= "col-3">

    <%# 記事画像（クリップした記事）%>
    <%= link_to article_path(article.id) do %>
      <% if article.image.attached? %>
        <%= image_tag article.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image.png', size: "200x200" %>
      <% end %>
      <%# 記事タイトル（クリップした記事）%>
      <%= article.title %>
    <% end %>
    </br>

    <%# 記事都道府県名（日本語 英語）（クリップした記事）%>
    <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
    </br>

    <%# 記事を書いたユーザーの画像（クリップした記事）%>
    <%= link_to user_path(article.user.id) do %>
      <% if article.user.image.attached? %>
        <%= image_tag article.user.image, size: "20x20" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "20x20" %>
      <% end %>
      <%# 記事を書いたユーザーの名前（行った！した記事）%>
      <%= article.user.user_name %>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
<%# クリップした記事 ここまで---------------------------------------------------%>
</div>
</div>
</div>

<!--（右側全体）ここまで------------>

</div>