<div class= "row">

<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
<%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る", 'javascript:history.back()' %>
    <h5 class= "m-2">プロフィール</h5>

    <!--ユーザー情報 ここから----------------------------------------------------->
    <div class="row">
      <div class= "col-md-2">
      </div>
      <div class= "col-md-8">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "100x100" %>
      <% end %>
      <label><%= @user.user_name %></label>
      </br>
      <label class="text-small mb-3"><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー&emsp;<%=link_to @user.followers.count, followers_user_path(@user) %>フォロワー</label>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <% if @user == current_user %>
        <% if @user.user_name != "ゲスト" %>
          &emsp;&emsp;&emsp;&emsp;
          <%= link_to "編集", edit_user_path(current_user), class: "btn btn-success" %>
        <% end %>
      <% else %>
        <% if @user.is_followed_by?(current_user) %>
          <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(@user), method: :post, class: "btn btn-info" %>
        <% end %>
      <% end %>
      </br>
      <table class="table table-hover table-bordered table-inverse">
        <tbody>
          <tr>
            <th class="table-secondary">居住地</th>
            <td>
              <%= @user.home %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">出身地</th>
            <td>
              <%= @user.hometown %>
            </td>
          </tr>
        </tbody>
      </table>
      </br>
      </div>
    </div>
    <!--ユーザー情報 ここまで----------------------------------------------------->

    <!--ユーザーの記事 ここから----------------------------------------------------->
    <div class="row">
      <div class="col-1">
      </div>
      <div class= "col-md-10 mb-1">
        <%= link_to user_articles_path(@user.id) do %>
          <label>記事履歴（全<%= @user_articles.count %>件）</label>
        <% end %>
      </div>
    </div>

    <div class= "row">
      <div class="col-1">
      </div>
      <div class= "col-10">
        <div class="row">
        <% @user_articles.each do |article| %>
          <div class= "col-3 mb-3">
            <%= link_to article_path(article.id) do %>
              <% if article.image.attached? %>
                <%= image_tag article.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'default-image.jpg', size: "200x200" %>
              <% end %>
              <%= article.title %>
            <% end %>

            </br>
            <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
            </br>

            <%# いいね／行った！の表示 ここから---------- %>
            <div id="article_<%= article.id %>"><%= render "public/likes/like", article: article %></div>
            <%# いいね／行った！の表示 ここまで---------- %>


            <% if article.user_id == current_user.id %>
              <% if article.is_active %>
                <label class="text-success">公開中</label>
              <% else %>
                <label class="text-secondary">非公開</label>
              <% end %>
              <%= link_to "編集", edit_article_path(article.id), class: "btn btn-success" %>
              <%= link_to "削除", article_path(article.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した記事は復元できません）" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!--ユーザーの記事 ここまで----------------------------------------------------->

  </div>
  <!--（右側全体）ここまで------------>

</div>