<div class= "row">

<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
<%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
<!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    <h5 class= "mt-2">プロフィール／Profile</h5>

    <!--ユーザー情報 ここから----------------------------------------------------->
    <div class="row">
      <div class= "col-md-2">
      </div>
      <div class= "col-md-8">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "100x100" %>
      <% end %>
      <label><%= @user.user_name %></label>
      </br>
      <label class="text-small mb-3"><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー&emsp;<%=link_to @user.followers.count, followers_user_path(@user) %>フォロワー</label>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <% if @user == current_user %>
        <% if @user.user_name != "ゲスト" %>
          &emsp;&emsp;
          <%= link_to "編集 Edit", edit_user_path(current_user), class: "btn btn-success" %>
        <% end %>
      <% else %>
        <% if @user.is_followed_by?(current_user) %>
          <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(@user), method: :post, class: "btn btn-info" %>
        <% end %>
      <% end %>
      </br>
      <table class="table table-hover table-bordered table-inverse">
        <tbody>
          <tr>
            <th class="table-secondary">居住地&emsp;City lives</th>
            <td>
              <%= @user.home %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary">出身地&emsp;Hometown</th>
            <td>
              <%= @user.hometown %>
            </td>
          </tr>
        </tbody>
      </table>
      </br>
      </div>
    </div>
    <!--ユーザー情報 ここまで----------------------------------------------------->

    <!--ユーザーのしおり（旅日記） ここから----------------------------------------------------->
    <div class="row">
      <div class="col-1">
      </div>
      <div class= "col-md-10 mb-1">
        <%= link_to user_itineraries_path(@user.id) do %>
          <label>旅のしおり／旅日記 履歴（全<%= @user_itineraries.count %>件）を見る／See user's all itineraries</label>
        <% end %>
      </div>
    </div>

    <div class= "row">
      <div class="col-1">
      </div>
      <div class= "col-10">
        <div class="row">
        <% @user_itineraries.last(4).each do |itinerary| %>
          <div class= "col-3 mb-3">
            <%= link_to itinerary_path(itinerary.id) do %>
              <% if itinerary.image.attached? %>
                <%= image_tag itinerary.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'default-image.jpg', size: "200x200" %>
              <% end %>
              <%= itinerary.title %>
            <% end %>
            </br>
            <%=  itinerary.tasks.order(started_at: :asc).first.started_at.to_date.strftime("%Y/%m/%d") %>～<%= itinerary.tasks.order(finished_at: :desc).first.finished_at.to_date.strftime("%Y/%m/%d") %>
            </br>

            <!--評価★の表示 ここから------------>

            <% if itinerary.rate == 0 %>
            <label>評価はまだありません</label>

            <!--評価1の場合-->
            <% elsif itinerary.rate == 1 %>
              <!--黄色い星アイコン1つ-->
              <i class="fas fa-star" style="color: #FFE14E;"></i>
              <!--グレーの星アイコン4つ-->
              <% 4.times do %>
                <i class="far fa-star" style="color: #d3d3d3;"></i>
              <% end %>

            <!--評価2の場合-->
            <% elsif itinerary.rate == 2 %>
              <!--黄色い星アイコン2つ-->
              <% 2.times do %>
                <i class="fas fa-star" style="color: #FFE14E;"></i>
              <% end %>
              <!--グレーの星アイコン3つ-->
              <% 3.times do %>
                <i class="far fa-star" style="color: #d3d3d3;"></i>
              <% end %>

            <!--評価3の場合-->
            <% elsif itinerary.rate == 3 %>
              <!--黄色い星アイコン3つ-->
              <% 3.times do %>
                <i class="fas fa-star" style="color: #FFE14E;"></i>
              <% end %>
              <!--グレーの星アイコン2つ-->
              <% 2.times do %>
                <i class="far fa-star" style="color: #d3d3d3;"></i>
              <% end %>

            <!--評価4の場合-->
            <% elsif itinerary.rate == 4 %>
              <!--黄色い星アイコン4つ-->
              <% 4.times do %>
                <i class="fas fa-star" style="color: #FFE14E;"></i>
              <% end %>
              <!--グレーの星アイコン1つ-->
              <i class="far fa-star" style="color: #d3d3d3;"></i>

            <!--評価5の場合-->
            <% elsif itinerary.rate == 5 %>
              <!--黄色い星アイコン5つ-->
              <% 5.times do %>
                <i class="fas fa-star" style="color: #FFE14E;"></i>
              <% end %>
            <% end %>

            <!--評価★の表示ここまで ------------>
            </br>

            <% if itinerary.user_id == current_user.id %>
              <% if itinerary.is_active %>
                <label class="text-success">公開中</label>
              <% else %>
                <label class="text-secondary">非公開</label>
              <% end %>
              <%= link_to "編集", edit_itinerary_path(itinerary.id), class: "btn btn-success" %>
              <%= link_to "×削除", itinerary_path(itinerary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した旅程表は復元できません）／Are you sure to delete?" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!--ユーザーのしおり（旅日記） ここまで----------------------------------------------------->

    <!--ユーザーの記事 ここから----------------------------------------------------->
    <div class="row">
      <div class="col-1">
      </div>
      <div class= "col-md-10 mb-1">
        <%= link_to user_articles_path(@user.id) do %>
          <label>記事履歴（全<%= @user_articles.count %>件）を見る／See user's all articles</label>
        <% end %>
      </div>
    </div>

    <div class= "row">
      <div class="col-1">
      </div>
      <div class= "col-10">
        <div class="row">
        <% @user_articles.each do |article| %>
          <div class= "col-3 mb-3">
            <%= link_to article_path(article.id) do %>
              <% if article.image.attached? %>
                <%= image_tag article.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'default-image.jpg', size: "200x200" %>
              <% end %>
              <%= article.title %>
            <% end %>

            </br>
            <%= article.japan_prefecture.name %>&emsp;<%= article.japan_prefecture.name_english %>
            </br>

            <%# いいね／行った！の表示 ここから---------- %>
            <div id="article_<%= article.id %>"><%= render "public/likes/like", article: article %></div>
            <%# いいね／行った！の表示 ここまで---------- %>


            <% if article.user_id == current_user.id %>
              <% if article.is_active %>
                <label class="text-success">公開中</label>
              <% else %>
                <label class="text-secondary">非公開</label>
              <% end %>
              <%= link_to "編集", edit_article_path(article.id), class: "btn btn-success" %>
              <%= link_to "×削除", article_path(article.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した記事は復元できません）／Are you sure to delete?" %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!--ユーザーの記事 ここまで----------------------------------------------------->

  </div>
  <!--（右側全体）ここまで------------>

</div>