</br>
<h5>プロフィール</h5>

<div class= "col-1 mt-2">

</div>

 <div class= "col-md-8 offset-md-1">
   <% if @user.image.attached? %>
  <%= image_tag @user.image, size: "100x100" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "100x100" %>
<% end %>
<label><%= @user.user_name %></label>
</br>
<label class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %>フォロー&emsp;<%=link_to @user.followers.count, followers_user_path(@user) %>フォロワー</label>
</br>
  <table class="table table-hover table-bordered table-inverse">
    <tbody>
      <tr>
        <th class="table-secondary">居住地</th>
        <td>
          <%= @user.home %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">出身地</th>
        <td>
          <%= @user.hometown %>
        </td>
      </tr>
    </tbody>
  </table>
</br>
</div>
</div>

<label>&emsp;記事履歴（全<%= @user_articles.count %>件）</label>

<div class= "col-8">
</br>
<div class= "row">
<% @user_articles.each do |article| %>
<div class= "col-3">

<%= link_to article_path(article.id) do %>
<% if article.image.attached? %>
  <%= image_tag article.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.png', size: "200x200" %>
<% end %>
<% end %>

<%= article.title %>
</br>
<%= article.japan_prefecture.name %>
</br>
<% if article.user_id == current_user.id %>
<% if article.is_active %>
  <label class="text-success">公開中</label>
<% else %>
  <label class="text-secondary">非公開</label>
<% end %>&emsp;&emsp;&emsp;&emsp;
<%= link_to "編集", edit_article_path(article.id), class: "btn btn-success" %>
<% end %>

</div>
<% end %>
</div>
</div>