<div class= "row">

  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここから------------>
  <%= render 'public/articles/list', japan_prefectures: @japan_prefectures, japan_areas: @japan_areas %>
  <!--「投稿する＋エリア・都道府県から記事を検索する」の部分テンプレート（左側 col-2）ここまで------------>

  <!--（右側全体）ここから------------>
  <div class= "col-10">
    </br>
    <%= link_to "<< 前のページに戻る／Back", 'javascript:history.back()' %>
    </br>
    <h5 class= "mt-2">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "30x30" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "30x30" %>
      <% end %>
      <%= @user.user_name %>さんの旅のしおり／旅日記（全<%= @user_itineraries.count %>件）／Mx.<%= @user.user_name %>'s itineraries
    </h5>

    <div class= "row">
      <% @user_itineraries.each do |itinerary| %>
      <div class= "col-3 mb-3">
        <%= link_to itinerary_path(itinerary.id) do %>
          <% if itinerary.image.attached? %>
            <%= image_tag itinerary.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'default-image.jpg', size: "200x200" %>
          <% end %>
          </br>
          <%= itinerary.title %>
        <% end %>
        </br>
        <% if itinerary.tasks.present? %>
          （<%=  itinerary.tasks.order(started_at: :asc).first.started_at.to_date.strftime("%Y/%m/%d") %>～<%= itinerary.tasks.order(finished_at: :desc).first.finished_at.to_date.strftime("%Y/%m/%d") %>）
        <% else %>
          （&emsp;～&emsp;）
        <% end %>
        </br>
        <!--評価★の表示 ここから------------>

        <% if itinerary.rate == 0 %>
        <label>評価はまだありません</label>

        <!--評価1の場合-->
        <% elsif itinerary.rate == 1 %>
          <!--黄色い星アイコン1つ-->
          <i class="fas fa-star" style="color: #FFE14E;"></i>
          <!--グレーの星アイコン4つ-->
          <% 4.times do %>
            <i class="far fa-star" style="color: #d3d3d3;"></i>
          <% end %>

        <!--評価2の場合-->
        <% elsif itinerary.rate == 2 %>
          <!--黄色い星アイコン2つ-->
          <% 2.times do %>
            <i class="fas fa-star" style="color: #FFE14E;"></i>
          <% end %>
          <!--グレーの星アイコン3つ-->
          <% 3.times do %>
            <i class="far fa-star" style="color: #d3d3d3;"></i>
          <% end %>

        <!--評価3の場合-->
        <% elsif itinerary.rate == 3 %>
          <!--黄色い星アイコン3つ-->
          <% 3.times do %>
            <i class="fas fa-star" style="color: #FFE14E;"></i>
          <% end %>
          <!--グレーの星アイコン2つ-->
          <% 2.times do %>
            <i class="far fa-star" style="color: #d3d3d3;"></i>
          <% end %>

        <!--評価4の場合-->
        <% elsif itinerary.rate == 4 %>
          <!--黄色い星アイコン4つ-->
          <% 4.times do %>
            <i class="fas fa-star" style="color: #FFE14E;"></i>
          <% end %>
          <!--グレーの星アイコン1つ-->
          <i class="far fa-star" style="color: #d3d3d3;"></i>

        <!--評価5の場合-->
        <% elsif itinerary.rate == 5 %>
          <!--黄色い星アイコン5つ-->
          <% 5.times do %>
            <i class="fas fa-star" style="color: #FFE14E;"></i>
          <% end %>
        <% end %>

        <!--評価★の表示ここまで ------------>
        </br>

        <% if itinerary.user_id == current_user.id %>
          <% if itinerary.is_active %>
            <label class="text-success">公開中</label>
          <% else %>
            <label class="text-secondary">非公開</label>
          <% end %>&emsp;
          <%= link_to "編集", edit_itinerary_path(itinerary.id), class: "btn btn-success" %>
          <%= link_to "×削除", itinerary_path(itinerary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？（削除した旅程表は復元できません）／Are you sure to delete?" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <!--（右側全体）ここまで------------>

</div>