<!DOCTYPE html>
<html>
  <head>
    <title>日本の魅力を発信するSNS ふるさとアンバサダー🍎Furusato Ambassador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <div class="container">
        <a class="navbar-brand" href="/"><span>Furusato Ambassador<span><h6>&emsp;ふるさとアンバサダー</h6></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
      <label class="text-white">
      おかえりなさい、<%= current_user.user_name %>さん🍵
      </label>
      </li>
      <li>
        &emsp;&emsp;
      </li>

      <li>
      <%= link_to new_article_path, class: 'nav-link text-light' do %>
        <i class="fas fa-edit"></i>
      <% end %>
      </li>

      <li>
        <%= link_to notifications_path, class: 'nav-link text-light' do %>
          <i class="fas fa-bell"></i>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
        <% end %>
      </li>

      <li>
        <%= link_to users_mypage_path(current_user.id), class: 'nav-link text-light' do %>
        マイページ
        <% end %>
      </li>
      <li>
        <%= link_to articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: 'nav-link text-light' do %>
         ユーザー一覧
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
        ログアウト
        <% end %>
      </li>
      <% elsif admin_signed_in? %>
      <li>
        <%= link_to admin_articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path, class: 'nav-link text-light' do %>
        ユーザー一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_japan_areas_path, class: 'nav-link text-light' do %>
         エリア一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_japan_prefectures_path, class: 'nav-link text-light' do %>
         都道府県一覧
        <% end %>
      </li>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
        ログアウト
        <% end %>
      </li>
    <% else %>
      <li>
      <%= link_to homes_about_path, class: 'nav-link text-light' do %>
        About
        <% end %>
      </li>
      <li>
        <%= link_to articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
        新規登録
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
        ログイン
        <% end %>
      </li>
    <% end %>
        </ul>
        </div>
      </div>

        <!--<div class="d-flex form-control search_box">-->
        <!--  <input class="search-invalid" type="search" placeholder="検索 Search" v-model="keyword">-->
        <!--  <i class="fas fa-search"></i>-->
        <!--</div>-->

        <%#= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>&emsp;
          <%#= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-input" %>
          <%#= form.submit "検索", class: "search-btn" %>
        <%# end %>

        <%= form_with(url: search_articles_path, local: true, method: :get) do |form| %>
          <div class="d-flex form-control search_box">
            <%= form.text_field :keyword, class: "search-invalid", placeholder: "検索 Search", type: "search" %>
            <%= button_tag type: "submit", class: "btn btn-default", style: "all: unset;" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>

    </nav>
    </header>
    <%= yield %>
    <footer>
      <div class= "container mt-5">
        <div class= "row">
          <div class= "mx-auto">
            <p></p><p>CopyRight © Yuri Hirayama</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html><!DOCTYPE html>
<html>
  <head>
    <title>日本の魅力を発信するSNS ふるさとアンバサダー🍎Furusato Ambassador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <div class="container">
        <a class="navbar-brand" href="/"><span>Furusato Ambassador<span><h6>&emsp;ふるさとアンバサダー</h6></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
      <label class="text-white">
      おかえりなさい、<%= current_user.user_name %>さん🍵
      </label>
      </li>
      <li>
        &emsp;&emsp;
      </li>

      <li>
      <%= link_to new_article_path, class: 'nav-link text-light' do %>
        <i class="fas fa-edit"></i>
      <% end %>
      </li>

      <li>
        <%= link_to notifications_path, class: 'nav-link text-light' do %>
          <i class="fas fa-bell"></i>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
        <% end %>
      </li>

      <li>
        <%= link_to users_mypage_path(current_user.id), class: 'nav-link text-light' do %>
        マイページ
        <% end %>
      </li>
      <li>
        <%= link_to articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: 'nav-link text-light' do %>
         ユーザー一覧
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
        ログアウト
        <% end %>
      </li>
      <% elsif admin_signed_in? %>
      <li>
        <%= link_to admin_articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path, class: 'nav-link text-light' do %>
        ユーザー一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_japan_areas_path, class: 'nav-link text-light' do %>
         エリア一覧
        <% end %>
      </li>
      <li>
        <%= link_to admin_japan_prefectures_path, class: 'nav-link text-light' do %>
         都道府県一覧
        <% end %>
      </li>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
        ログアウト
        <% end %>
      </li>
    <% else %>
      <li>
      <%= link_to homes_about_path, class: 'nav-link text-light' do %>
        About
        <% end %>
      </li>
      <li>
        <%= link_to articles_path, class: 'nav-link text-light' do %>
        記事一覧
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
        新規登録
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
        ログイン
        <% end %>
      </li>
    <% end %>
        </ul>
        </div>
      </div>

        <!--<div class="d-flex form-control search_box">-->
        <!--  <input class="search-invalid" type="search" placeholder="検索 Search" v-model="keyword">-->
        <!--  <i class="fas fa-search"></i>-->
        <!--</div>-->

        <%#= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>&emsp;
          <%#= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-input" %>
          <%#= form.submit "検索", class: "search-btn" %>
        <%# end %>

        <%= form_with(url: search_articles_path, local: true, method: :get) do |form| %>
          <div class="d-flex form-control search_box">
            <%= form.text_field :keyword, class: "search-invalid", placeholder: "検索 Search", type: "search" %>
            <%= button_tag type: "submit", class: "btn btn-default", style: "all: unset;" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>

    </nav>
    </header>
    <%= yield %>
    <footer>
      <div class= "container mt-5">
        <div class= "row">
          <div class= "mx-auto">
            <p></p><p>CopyRight © Yuri Hirayama</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>